<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>게시글 목록</title>
</head>
<body>
<main>
    <h1>게시글 목록</h1>
    <div sec:authorize="isAuthenticated()">
        <a href="/articles/new">새글</a>
    </div>
    <div th:if="${#lists.isEmpty(articles)}">아직 글이 없습니다.</div>
    <ul th:unless="${#lists.isEmpty(articles)}">
        <li th:each="a : ${articles}">
            <a th:href="@{'/articles/' + ${a.id}}" th:text="${a.title}">제목</a>
        </li>
    </ul>
</main>
</body>
</html>
